{% load static %}

<!-- Блок с карточкой займет всю ширину родительского контейнера на мобильном, 
  половину на планшете и 1/4 на компьютере --> 
<!-- py-3: сделан внутренний отступ, что бы карточки не слипались -->
<div class="col-12 col-md-6 col-xl-3 p-3">
  <!-- h-100:  делает карточки одинаковой высоты -->
  <div class="card h-100">
    <!-- card-img-top: изображение размещается вверху карточки -->
    <!--img-fluid: размер изображения подстроится под занимаемый блок -->
    {% if ice_cream.main_image %}
      <img src="{{ ice_cream.main_image.image_thumbnail.url}}" alt="{{ ice_cream.name }}" class="img-thumbnail">
    {% else %}
      <img src="{% static 'img/tmb.png' %}" alt="{{ ice_cream.name }}" class="img-thumbnail">
    {% endif %}
    <!-- card-body: текстовый контент карточки -->
    <div class="card-body">
      <h5>{{ ice_cream.name }}</h5>
    </div>
    <div class="d-flex justify-content-between px-3 py-2">
      <div class="">
        {{ ice_cream.price }} грн
      </div>
      <div class="">
        {{ ice_cream.quantity }} шт.
      </div>
    </div>
    <!-- btn: показывает что это кнопка  -->
    <!-- btn-success: определяет цвет кнопки --> 
    <a href="{% url 'ice_cream:ice_cream_detail' ice_cream.pk %}" class="btn btn-success">
      Подробная информация
    </a> 
  </div> <!-- Конец карточки -->
 </div> <!-- Конец блока определяющего размер элемента -->